<div class="container">
  <div class="alert">
    <p-card header="Saúde" subheader="Questionário" [style]="{width: 'width'}" styleClass="styleClass">
      <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
      <form [formGroup]="formBase">
        <div class="col-xs-12 col-lg-4">
          <div class="form-group">
            <div formArrayName="opcoesresposta">
              <div *ngFor="let opt of opcoesRespostas.controls; let i = index" [formGroupName]="i">

                <ng-container *ngIf="formBase.get('multiplaescolha').value === false">
                  <p-radioButton name="i" value="{{opt.get('respondida').value}}" label="{{opt.get('opcaotexto').value}}"
                  formControlName="respondida">
                  </p-radioButton>
                </ng-container>
                <ng-container *ngIf="formBase.get('multiplaescolha').value === true">
                  <p-checkbox label="{{opt.get('opcaotexto').value}}" (onChange)="onCheckResposta($event, i)"
                    value="{{opt.get('respondida').value}}" [formControl]="opt.get('respondida')" binary="true"
                    styleClass="steps"></p-checkbox>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <p-button label="Responder" (onClick)="onSubmit()" [disabled]="opcoesRespostas.invalid"></p-button>
      </form>
      <p-button icon="pi pi-iconName" *ngIf="terminouQuestionario" label="Finalizar Questionário"></p-button>
    </p-card>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>